<nav class="nav flex-column bg-light ">
   <img src="../assets/img/logo-ANSWER.svg " class="my-5" alt="">
    <a class="nav-link link-dark ms-3  d-flex aligen-items-center" aria-current="page" href="#">
        <span class="material-icons me-3 ">
            assessment
        </span>
        Dashboard
    </a>
    <a class="nav-link link-dark ms-3  d-flex aligen-items-center" href="#">
        <span class="material-icons me-3">
            question_answer
            </span>
        Question</a>
    <a class="nav-link link-success active ms-3 d-flex aligen-items-center" href="#">
        <span class="material-icons me-3">
            assignment
            </span>
        Assignment</a>
    <a href="#" class="nav-link link-dark  ms-3 d-flex aligen-items-center">
        <span class="material-icons me-3">
            video_library
            </span>
        Course</a>
    <a href="#" class="nav-link link-dark  ms-3 d-flex aligen-items-center">
        <span class="material-icons me-3">
            supervisor_account
            </span>
        Admin</a>
    <a href="" class="nav-link link-dark ms-3 d-flex aligen-items-center">
        <span class="material-icons me-3">
            settings
            </span>
        Settings</a>



</nav>