<div class="d-flex mt-0 justify-content-between align-items-center header-index">
    <div class="leftnav d-flex mt-5 justify-content-center align-items-center">
        <p class="mx-5 my-0 pd-5  text-center fw-bold ass"> Assignment</p>
        <div class="dropdown">
            <button class="btn  d-flex justify-content-center align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                All Courses
                <span class="material-icons text-success">
                    expand_more
                    </span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    </div>
    <div class="rightnav">
        <span class="material-icons pe-4 ">
            search
            </span>

        <span class="material-icons">
                notifications_active
                </span>
    </div>
</div>