.main{
  margin-left: 200px;
}
.comment{
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}
.ts{
  font-size: 12px;
}

// 字型
// font-family: 'Castoro', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;